{% extends 'base.html' %}

<!-- static -->
{% load static %}

<!-- content -->
{% block content %}
<div class="container">
  <h2>Add Video</h2>
  <form method="POST">
    {% csrf_token %}

    <!-- django-widget-tweaks-->
    {% load widget_tweaks %}

    <!-- fields -->
    {% for field in form %}
    <div
      class="form-group {% if field.errors %} alert alert-danger {% endif %}"
    >
      {{ field.errors }}
      <!---->
      {{ field.label_tag }}
      <!---->
      {% render_field field class="form-control" %}
    </div>
    {% endfor %}

    <!-- form -->
    {% comment %} {{ form.as_p }} {% endcomment %}
    <button type="submit" class="btn btn-primary">Add</button>
  </form>

  <h2>OR</h2>
  <form method="GET">{{search_form.as_p}}</form>
</div>
{% endblock content %}
<!-- end content -->
